<html ng-app="countryApp">

<head>
  <meta charset="utf-8">
  <title>Angular JS Flag Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
  <script src="ng.js"></script>
</head>

<body ng-controller="CountryCtrl" align="middle">
  <div class="container" style="margin:auto; width: 800px">
    <h3>Country and Flag Overview</h3>
    <h5>Click a country name to be taken to that country's Wikipedia site - Sort countries by clicking on the headers!</h5>
    <input style="margin-top: 20px; margin-bottom: 20px" ng-model="selected" class="form-control" placeholder="Search for a country or code">

    <table class="table table-striped">
      <tr>
        <th>
          <a href="" ng-click="sortField = 'name'; order = !order">Country Name</a>
        </th>
        <th>
          <a href="" ng-click="sortField = 'code'; order = !order">Code</a>
        </th>
        <th>
          <a href="" ng-click="sortField = 'name'; order = !order">Flag</a>
        </th>
      </tr>
      <tr ng-repeat="country in countries | filter:selected | orderBy:sortField:order">
        <td>
          <a href="https://en.wikipedia.org/wiki/{{country.name}}">{{country.name}}</a>
        </td>
        <td>{{country.code}}</td>
        <td>
          <img src="svg/{{ country.code | lowercase}}.svg" width="35px">
        </td>
      </tr>
    </table>

  </div>
</body>

</html>